
@import 
    "global/var"                        // global variables
,   "bootstrap-sass/bootstrap"          // Bootstrap, Note: files that has CONTENT changed are "_variables.scss", "_grid.scss", "_mixins.scss" (make-grid-columns())
,   "bourbon/bourbon"                   // mixins

    // UI, uses Bootstrap's variables
,   "ui/ui"

    // Plugins, overrides plugins' style
,   "plugins/bootstrap-slider"
,   "plugins/responsive-tables"
,   "plugins/easypiecharts"
,   "plugins/toastr"
,   "plugins/sparkline"
,   "plugins/jquery-steps"
,   "plugins/angular-ui-tree"
,   "plugins/morris"
,   "plugins/jqvmap"
,   "plugins/ng-tags-input"
,   "plugins/intro"

    // Pages
,   "global/var-pages"
,   "pages/dashboard"
,   "pages/pages"
,   "pages/err"
,   "pages/lock-screen"
,   "pages/tasks"
,   "pages/auth"
,   "pages/profile"
,   "pages/ui"
,   "pages/invoice"
,   "pages/demo"

    // sections
,   "sections/layouts"
,   "sections/shared"
,   "sections/nav"
,   "sections/nav-off-canvas"
,   "sections/nav-horizontal"
,   "sections/nav-min"
,   "sections/header"
,   "sections/body"
;

#map_canvas {
	width: 500px;
    height: 400px;
}

.list-info li label {
	width: 75px;
}

.profile-image {
	padding-top:15px;
}

.app > .header-container.header-fixed + .main-container {
	padding-top: 35px;
	@media (min-width:768px) {
    	padding-top: 0px;
    }
}

.app > .main-container > .nav-container {
	padding-top: 10px;
	@media (max-width: 767px) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}


.on-canvas #nav-container {
	@media (max-width: 767px) {
	display: block;
	position: fixed;
	top: 0px;
	bottom: 0;
	float: none;
	}
}

#nav-container ul {
	padding-bottom: 100px;
}

.logo-image {
	padding: 15px;
}

.header-container > .top-header .menu-button:hover {
cursor: pointer;
background-color: #f3f3f3;
}

.header-container > .top-header .menu-button {
display: block;
position: absolute;
top: 8px;
left: 6px;
width: 46px;
padding: 10px 12px;
border-radius: 2px;
@media (min-width: 767px) {display:none}
}

.header-container > .top-header .menu-button .icon-bar {
display: block;
width: 22px;
height: 2px;
border-radius: 1px;
background-color: #767676;
}