<div class="page">

    <section class="panel">
        <div class="panel-body">
            <h1><span data-i18n="Why Choose Us?"></span></h1>
        </div>
    </section>

    <div class="row">

        <div class="col-xsm-6">
            <div class="panel">
                <div class="panel-body">
                    <h3><span data-i18n="Benefit 1"></span></h3>
                    <p><span data-i18n="Benefit 1 Paragraph"></p>
                </div>
            </div>
        </div>

        <div class="col-xsm-6">
            <div class="panel">
                <div class="panel-body">
                    <h3><span data-i18n="Benefit 2"></span></h3>
                    <p><span data-i18n="Benefit 2 Paragraph"></p>
                </div>
            </div>
        </div>

    </div>
    
    <div class="row">
        <div class="col-xsm-6">
            <div class="panel">
                <div class="panel-body">
                    <h3><span data-i18n="Benefit 3"></span></h3>
                    <p><span data-i18n="Benefit 3 Paragraph"></p>
                </div>
            </div>
        </div>
        <div class="col-xsm-6">
            <div class="panel">
                <div class="panel-body">
                    <h3><span data-i18n="Benefit 4"></span></h3>
                    <p><span data-i18n="Benefit 4 Paragraph"></p>
                </div>
            </div>
        </div>
    </div>

    <section class="panel">
        <div class="panel-body">
            <h4><span data-i18n="Caution"></span></h4>
            <p><span data-i18n="Caution Paragraph"></span></p>

        </div>
    </section>
</div>