<div class="page">

    <section class="panel">
        <div class="panel-body">
            <h1><span data-i18n="Founders"></span></h1>
        </div>
    </section>
	
	<div class="row">

        <div class="col-sm-4">
            <div class="panel mini-box">
                <div class="panel-body">
                	<img class="img-responsive img-circle" src="http://placekitten.com/g/300/300" />
                    <h3><span data-i18n="Masanori Sakata"></span></h3>
                    <h4><span data-i18n="Founder 1 Position"></h4>
                    <p><span data-i18n="Founder 1 Birthdate"></p>
                    <p><span data-i18n="Founder 1 Birthplace"></p>
                    <p><span data-i18n="Founder 1 History"></p>
                    <p><span data-i18n="Founder 1 Interests"></p>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel mini-box">
                <div class="panel-body">
                	<img class="img-responsive img-circle" src="http://placekitten.com/g/300/300" />
                    <h3><span data-i18n="Tran Thi Yen"></span></h3>
                    <p><span data-i18n="Founder 2 Birthdate"></p>
                    <p><span data-i18n="Founder 2 Birthplace"></p>
                    <p><span data-i18n="Founder 2 History"></p>
                    <p><span data-i18n="Founder 2 Interests"></p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel mini-box">
                <div class="panel-body">
                	<img class="img-responsive img-circle" src="http://placekitten.com/g/300/300" />
                    <h3><span data-i18n="Cao Thi Minh Hue"></span></h3>
                    <h4><span data-i18n="Founder 3 Position"></h4>
                    <p><span data-i18n="Founder 3 Birthdate"></p>
                    <p><span data-i18n="Founder 3 Birthplace"></p>
                    <p><span data-i18n="Founder 3 History"></p>
                    <p><span data-i18n="Founder 3 Interests"></p>
                </div>
            </div>
        </div>

    </div>

</div>