<div class="page">

    <!-- <section class="panel">
    	<img class="img-responsive" src="images/assets/himawaricenter.jpg"/>
        <div class="panel-body text-center">
        	<h3><span data-i18n="Himawari duhoc"></span></h3>
        </div>
    </section> -->
    <div class="home-jumbotron">
        <div class="col-md-12 text-center">
                <h1><span data-i18n="Trung tâm tư vân du học Himawari"></span></h1>
            </div>
        <img class="img-responsive" src="images/assets/tokyotower.jpg"/>
    </div>
    <!--<section class="panel">
        <div class="panel-body">
        	<div class="col-md-12 text-center">
        		<h1><span data-i18n="Trung tâm tư vân du học Himawari"></span></h1>
        	</div>
        </div>
    </section> -->
    <!-- Meida -->
        <div class="panel">
            <div class="panel-body">
                <h3 class="text-center text-primary">Nhập học tháng 4/2015 hết hạn nhận hồ sơ là 20/10/2014</h3>
            </div>
        </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-body">
                            <ul class="list-unstyled list-info">
                                <li>
                                    <span class="icon glyphicon glyphicon-home"></span>
                                    <label><span data-i18n="Địa chỉ"></label>
                                    322 đường 1B, Phố Phúc Trì, phường Nam Thành, Tp Ninh Bình, Việt Nam
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-earphone"></span>
                                    <label><span data-i18n="Tel"></label>
                                    <span data-i18n="030-388-8539">
                                </li>
                                <li>
                                    <span class="icon fa fa-fax"></span>
                                    <label><span data-i18n="Fax"></label>
                                    <span data-i18n="030-890-0689">
                                </li>
                                <li>
                                    <span class="icon glyphicon glyphicon-envelope"></span>
                                    <label><span data-i18n="Email"></label>
                                    himawari.duhoc@gmail.com
                                </li>
                                <li>
                                    <span class="icon fa fa-facebook-square"></span> 
                                    <label><span data-i18n="Facebook"></label>
                                    <a href="https://www.facebook.com/himawari.duhoc">facebook.com/himawari.duhoc</a>
                                </li>
                            </ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Media -->

            <!-- <form ng-controller="MailchimpSubscribeFormCtrl">
                <div class="row">

                    <div class="col-xs-12">
                      <h3>Want to receive further information? Please enter email below</h3>
                        <div ng-hide="subscription.result == 'success'">
                          <div ng-class="{'has-error': (subscription.result === 'error')}" class="input-group">
                            <input ng-model="subscription.email" class="form-control" placeholder="Enter your email address"><span class="input-group-btn"><button ng-click="doSubscribe()" class="btn btn-default"><i class="fa fa-envelope-o fa-fw"></i></button></span>
                          </div>
                            <span ng-bind-html="subscription.readableErrorMessage" class="help-block"></span> 
                          
                        </div>
                        <div ng-show="subscription.result == 'success'" class="ng-cloak">
                            Almost finished... you need to confirm your email address.
                            To complete the subscription process, please click the link in the email that was just sent to you.
                        </div>
                      <p>Easy to unsubscribe anytime and we'll never send you spam.</p>
                    </div>

                </div>
            </form> -->


</div>