<div class="page">

    <section class="panel">
        <div class="panel-body text-center">
            <h2><span data-i18n="Các trường liên kết"></span></h2>
        </div>
    </section>
    <section class="panel">
        <div class="panel-body">
            <div class="media">
                <div class="media-body">
                    <ul class="list-unstyled list-info">
                        <li><span  data-i18n="Trường Nhật ngữ Eastwest"></span> <span class="icon fa fa-star"></span></li>
                        <li><span  data-i18n="Trường Nhật ngữ ISB"></span> <span class="icon fa fa-star"></span></li>
                        <li><span  data-i18n="Trường Nhật ngữ Akamonkai"></span> <span class="icon fa fa-star"></span></li>
                        <li><span  data-i18n="Trường Naganuma (Trường Nhật ngữ Tokyo)"></span> <span class="icon fa fa-star"></span></li>
                        <li><span  data-i18n="Trường tiếng Nhật Tokyo Galaxy"></span> <span class="icon fa fa-star"></span></li>
                        <li><span  data-i18n="Trường Nhật ngữ JET"></span> <span class="icon fa fa-star"></span></li>
                        <li><span  data-i18n="Trường Nhật ngữ Futaba"></span></li>
                        <li><span  data-i18n="Học viện ngôn ngữ Samu"></span></li>
                        <li><span  data-i18n="Học viện quốc tế Urawa"></span></li>
                        <li><span  data-i18n="Học viện quốc tế Asahi"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </section> 

    <section class="panel">
        <div class="panel-body">
            <div class="media">
                <div class="media-body">
                    <ul class="list-unstyled list-info">
                        <li><span class="icon fa fa-star"></span>
                            <span  data-i18n="là trường được nhà nước công nhận trường quốc gia"></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section> 

    <!-- <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <img class="img-responsive" src="images/assets/himawari.jpg"/>
                </div>
            </div>
        </div>
    </section> -->

</div>